<div class="module">
    <div class="module-title">SSO</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/SSO/User.asmx")">User</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">Account</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/Account/Access.asmx")">Access</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">Master</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/Master/Material.asmx")">Material</a></div>
        <div class="module-item"><a href="@Url.Content("~/Master/Customer.asmx")">Customer</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">BC</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/BC/Enqueue.asmx")">Enqueue</a></div>
        <div class="module-item"><a href="@Url.Content("~/BC/User.asmx")">User</a></div>
        <div class="module-item"><a href="@Url.Content("~/BC/BarCode.asmx")">BarCode</a></div>
        <div class="module-item"><a href="@Url.Content("~/BC/WS_BC_DRF.asmx")">WS_BC_DRF</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">SD</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/SD/SalesOrder.asmx")">SalesOrder</a></div>
        <div class="module-item"><a href="@Url.Content("~/SD/Report.asmx")">Report</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">MM</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/MM/PurchaseOrder.asmx")">PurchaseOrder</a></div>
        <div class="module-item"><a href="@Url.Content("~/MM/ScheduleRequisition.asmx")">ScheduleRequisition</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">QM</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/QM/QualityNotification.asmx")">QualityNotification</a></div>
        <div class="module-item"><a href="@Url.Content("~/QM/Ingredient.asmx")">Ingredient</a></div>
        <div class="module-item"><a href="@Url.Content("~/QM/WS_QM_ZSL_QMFG_RFC.asmx")">ZSL_QMFG_RFC</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">Public</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/Public/PrintService.asmx")">PrintService</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">LE</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/LE/OutboundDelivery.asmx")">OutboundDelivery</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">LE-TRA</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/LE/TRA/ConsignmentNote.asmx")">ConsignmentNote</a></div>
        <div class="module-item"><a href="@Url.Content("~/LE/TRA/Carrier.asmx")">Carrier</a></div>
        <div class="module-item"><a href="@Url.Content("~/LE/TRA/Sender.asmx")">Sender</a></div>
        <div class="module-item"><a href="@Url.Content("~/LE/TRA/City.asmx")">City</a></div>
        <div class="module-item"><a href="@Url.Content("~/LE/TRA/Route.asmx")">Route</a></div>
        <div class="module-item"><a href="@Url.Content("~/LE/TRA/Price.asmx")">Price</a></div>
        <div class="module-item"><a href="@Url.Content("~/LE/TRA/Receiver.asmx")">Receiver</a></div>
        <div class="module-item"><a href="@Url.Content("~/LE/TRA/Destination.asmx")">Destination</a></div>
        <div class="module-item"><a href="@Url.Content("~/LE/TRA/Goods.asmx")">Goods</a></div>
        <div class="module-item"><a href="@Url.Content("~/LE/TRA/Unit.asmx")">Unit</a></div>
        <div class="module-item"><a href="@Url.Content("~/LE/TRA/Package.asmx")">Package</a></div>
        <div class="module-item"><a href="@Url.Content("~/LE/TRA/Feedback.asmx")">Feedback</a></div>
        <div class="module-item"><a href="@Url.Content("~/LE/TRA/Complaint.asmx")">Complaint</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">OA</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/OA/Authority.asmx")">Authority</a></div>
        <div class="module-item"><a href="@Url.Content("~/OA/Pending.asmx")">Pending</a></div>
        <div class="module-item"><a href="@Url.Content("~/OA/Flow.asmx")">Flow</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">原材料批号系统</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/RMS/Battery.asmx")">Battery</a></div>
        <div class="module-item"><a href="@Url.Content("~/RMS/Product.asmx")">Product</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">Print</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/Print/Layout.asmx")">Layout</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">DEV</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/DEV/Log.asmx")">Log</a></div>
        <div class="module-item"><a href="@Url.Content("~/DEV/Table.asmx")">Table</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">Setting</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/Setting/Version.asmx")">Version</a></div>
        <div class="module-item"><a href="@Url.Content("~/Setting/OperationManual.asmx")">OperationManual</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">PS</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/PS/NetWork.asmx")">NetWork</a></div>
        <div class="module-item"><a href="@Url.Content("~/PS/ComponentMove.asmx")">ComponentMove</a></div>
        <div class="module-item"><a href="@Url.Content("~/PS/CNFH.asmx")">ComponentMove</a></div>
        <div class="module-item"><a href="@Url.Content("~/PS/ZPSFUG.asmx")">ZPSFUG</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">KQ</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/KQ/KQinfo.asmx")">KQinfo</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">CRM</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/CRM/CRM_KH.asmx")">CRM_KH</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/CRM_HG.asmx")">CRM_HG</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/CRM_BF.asmx")">CRM_BF</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/CRM_KQ.asmx")">CRM_KQ</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/CRM_HD.asmx")">CRM_HD</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/CRM_OA.asmx")">CRM_OA</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/CRM_PENDING.asmx")">CRM_PENDING</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/CRM_Login.asmx")">CRM_Login</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/CRM_KQ_Report.asmx")">CRM_KQ_Report</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/SYS_CS.asmx")">SYS_CS</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/OA_TRANSMIT.asmx")">OA_TRANSMIT</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/WX_OPENID.asmx")">WX_OPENID</a></div>
    </div>
    <br />
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/CRM/KH_KH.asmx")">KH_KH</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KH_LXR.asmx")">KH_LXR</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KH_GXQY.asmx")">KH_GXQY</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KH_KHQTXX.asmx")">KH_KHQTXX</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KH_GROUP.asmx")">KH_GROUP</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KH_GROUP_KH.asmx")">KH_GROUP_KH</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KH_HZHB.asmx")">KH_HZHB</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KH_GROUP_STAFF.asmx")">KH_GROUP_STAFF</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KH_DZ.asmx")">KH_DZ</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KH_GROUP_XSQY.asmx")">KH_GROUP_XSQY</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KH_BF.asmx")">KH_BF</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KH_KHBF.asmx")">KH_KHBF</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KH_KHXS.asmx")">KH_KHXS</a></div>
    </div>
    <br />
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/CRM/HG_RIGHT.asmx")">HG_RIGHTGROUP</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/HG_RIGHT.asmx")">HG_RIGHT</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/HG_ROLE.asmx")">HG_ROLE</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/HG_RYKQ.asmx")">HG_RYKQ</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/HG_KQDZ.asmx")">HG_KQDZ</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/HG_BZGZSJ.asmx")">HG_BZGZSJ</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/HG_STAFFDUTY.asmx")">HG_STAFFDUTY</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/HG_DUTY.asmx")">HG_DUTY</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/HG_STAFF.asmx")">HG_STAFF</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/HG_DEPT.asmx")">HG_DEPT</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/HG_DICT.asmx")">HG_DICT</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/HG_TYPE.asmx")">HG_TYPE</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/HG_STAFFKHLX.asmx")">HG_STAFFKHLX</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/HG_KHLX.asmx")">HG_KHLX</a></div>
    </div>
    <br />
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/CRM/KQ_YCKQSM.asmx")">KQ_YCKQSM</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KQ_GZRLMX.asmx")">KQ_GZRLMX</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KQ_GZRL.asmx")">KQ_GZRL</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KQ_QD.asmx")">KQ_QD</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KQ_YGQJ.asmx")">KQ_YGQJ</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/KQ_CC.asmx")">KQ_CC</a></div>
    </div>
    <br />
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/CRM/BF_BF.asmx")">BF_BF</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/BF_BFQD.asmx")">BF_BFQD</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/BF_BFJHMX.asmx")">BF_BFJHMX</a></div>
    </div>
    <br />
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/CRM/HD_ZDF.asmx")">HD_ZDF</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/HD_ZYCXY.asmx")">HD_ZYCXY</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/HD_NKAXT.asmx")">HD_NKAXT</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/HD_NKAMD.asmx")">HD_NKAMD</a></div>
    </div>
    <br />
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/CRM/KH_XSYWJZ.asmx")">KH_XSYWJZ</a></div>
    </div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/CRM/BC_PMLIST.asmx")">BC_PMLIST</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/BC_CHTT.asmx")">BC_CHTT</a></div>
    </div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/CRM/MSG_INVOICE.asmx")">MSG_INVOICE</a></div>
        <div class="module-item"><a href="@Url.Content("~/CRM/MSG_NOTICE.asmx")">MSG_NOTICE</a></div>
    </div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/CRM/SAP_ORDER.asmx")">SAP_ORDER</a></div>
    </div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/CRM/CRM_DRF.asmx")">CRM_DRF</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">MES</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/MES/SY_GC.asmx")">SY_GC</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/SY_MACHINEINFO.asmx")">SY_MACHINEINFO</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/MES_SYNC.asmx")">MES_SYNC</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/PD_GD.asmx")">PD_GD</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/PD_SCRW.asmx")">PD_SCRW</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/PUBLIC_FUNC.asmx")">PUBLIC_FUNC</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/TM_CZR.asmx")">TM_CZR</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/TM_TMINFO.asmx")">TM_TMINFO</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/RIGHT_ROLE.asmx")">RIGHT_ROLE</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/SY_MACHINEINFO.asmx")">SY_MACHINEINFO</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/BAT_SPECS.asmx")">BAT_SPECS</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/BAT_SPECS_SAMP.asmx")">BAT_SPECS_SAMP</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/BAT_SPECS_PERFOR.asmx")">BAT_SPECS_PERFOR</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/BAT_PACKAGE.asmx")">BAT_PACKAGE</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/BAT_REPORT.asmx")">BAT_REPORT</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/BAT_QLTY.asmx")">BAT_QLTY</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/PMM_QR.asmx")">PMM_QR</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/PMM_MOULD.asmx")">PMM_MOULD</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/PMM_SYS.asmx")">PMM_SYS</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/PMM_STAFF.asmx")">PMM_STAFF</a></div>
        <div class="module-item"><a href="@Url.Content("~/MES/PMM_MTC.asmx")">PMM_MTC</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">SAP</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/CRM/SAP_Report.asmx")">SAP_Report</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">5S</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_TYPE.asmx")">SY_TYPE</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_DICT.asmx")">SY_DICT</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_CHECKGROUP_STAFF.asmx")">SY_CHECKGROUP_STAFF</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_CHECKGROUP.asmx")">SY_CHECKGROUP</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_CHECKGROUP_DEPARTMENT.asmx")">SY_CHECKGROUP_DEPARTMENT</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/CHECK_INFO.asmx")">CHECK_INFO</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/CHECK_INFODETAIL.asmx")">CHECK_INFODETAIL</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_STATION.asmx")">SY_STATION</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_PRINCIPALCATEGROY.asmx")">SY_PRINCIPALCATEGROY</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_CHECKPOINTCATEGROY.asmx")">SY_CHECKPOINTCATEGROY</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_CHECKPOINT_POINTCATEGROY.asmx")">SY_CHECKPOINT_POINTCATEGROY</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_CHECKPOINT.asmx")">SY_CHECKPOINT</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_POINTCATEGROY_DETAIL.asmx")">SY_POINTCATEGROY_DETAIL</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_CHECKDETAILCATEGROY.asmx")">SY_CHECKDETAILCATEGROY</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_CHECKDETAILS.asmx")">SY_CHECKDETAILS</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_CHECKPOINT_CHECKDETAIL.asmx")">SY_CHECKPOINT_CHECKDETAIL</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_RELATIONSHIPBIND.asmx")">SY_RELATIONSHIPBIND</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_STAFF_DEP.asmx")">SY_STAFF_DEP</a></div>
        <div class="module-item"><a href="@Url.Content("~/FIVES/SY_DEPTPUSHRY.asmx")">SY_DEPTPUSHRY</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">BARCODE</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/BARCODE/SY_CODING.asmx")">SY_CODING</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">EM</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/EM/SY_MANUAL.asmx")">SY_MANUAL</a></div>
        <div class="module-item"><a href="@Url.Content("~/EM/SY_MANUALBB.asmx")">SY_MANUALBB</a></div>
        <div class="module-item"><a href="@Url.Content("~/EM/SY_MANUALPATH.asmx")">SY_MANUALPATH</a></div>
        <div class="module-item"><a href="@Url.Content("~/EM/SY_STAFF_EMTYPE.asmx")">SY_STAFF_EMTYPE</a></div>
        <div class="module-item"><a href="@Url.Content("~/EM/SY_XTBB.asmx")">SY_XTBB</a></div>
        <div class="module-item"><a href="@Url.Content("~/EM/FILE_PATH.asmx")">FILE_PATH</a></div>
        <div class="module-item"><a href="@Url.Content("~/EM/SY_DEVICE_CONTRACT.asmx")">EM_SY_DEVICE_CONTRACT</a></div>
        <div class="module-item"><a href="@Url.Content("~/EM/SY_PB.asmx")">SY_PB</a></div>
        <div class="module-item"><a href="@Url.Content("~/EM/SY_SBBINDPB.asmx")">SY_SBBINDPB</a></div>
        <div class="module-item"><a href="@Url.Content("~/EM/SY_STAFFIDBINDPB.asmx")">SY_STAFFIDBINDPB</a></div>
        <div class="module-item"><a href="@Url.Content("~/EM/SY_SBBHDEVICETYPE.asmx")">SY_SBBHDEVICETYPE</a></div>
        <div class="module-item"><a href="@Url.Content("~/EM/SY_DEVICETYPE.asmx")">SY_DEVICETYPE</a></div>
        <div class="module-item"><a href="@Url.Content("~/EM/SY_DEVICEDETAILDOC.asmx")">SY_DEVICEDETAILDOC</a></div>
        <div class="module-item"><a href="@Url.Content("~/EM/SY_DETAILDOCFILES.asmx")">SY_DETAILDOCFILES</a></div>
        <div class="module-item"><a href="@Url.Content("~/EM/EM_SY_DEVICEQRJL.asmx")">EM_SY_DEVICEQRJL</a></div>
        <div class="module-item"><a href="@Url.Content("~/EM/SY_SBBHMANUAL.asmx")">SY_SBBHMANUAL</a></div>
        <div class="module-item"><a href="@Url.Content("~/EM/EM_MISSION.asmx")">EM_MISSION</a></div>
    </div>
</div>
<div class="module">
    <div class="module-title">MSG</div>
    <div class="module-items">
        <div class="module-item"><a href="@Url.Content("~/MSG/SEND_INFO.asmx")">SEND_INFO</a></div>
    </div>
</div>